h1 {
    color: #ea3332;
    font-size: 100px;
    font-weight: bold;    
}

.bg-color-white {background-color: #ffffff;}
.bg-color-gray {background-color: #eeeeee;}
.bg-color-blue {background-color: #1d9ef9;}
.bg-color-red {background-color: #ea3332;}
.bg-color-brown {background-color: rgb(189, 93, 56);}


.taplink {
    padding: 10px;
    border-radius: 6px;
}

.taplink .img-fluid {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);    
    border-radius: 50%;
}

.taplink ul {
    list-style: none;
    padding-inline-start: 0px;
}

.taplink li {
    margin: 10px 0px;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 3px 3px #00000055;
    border-radius: 6px;
    text-align: center;
}

.taplink a {
    text-shadow: 0px 0px #000000;
}

.circle-image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
    /* border-radius: 6px; */
  }

.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
