h1 {
    color: #ea3332;
    font-size: 100px;
    font-weight: bold;    
}

.bg-color-white {background-color: #ffffff;}
.bg-color-blue {background-color: #1d9ef9;}
.bg-color-red {background-color: #ea3332;}