
{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<div class="container-fluid bg-color-red">
  <div class="container">
    <div class="d-flex vh-100 justify-content-center align-items-center">
        <div class="rounded-circle d-flex justify-content-center align-items-center bg-color-white"
            style="height: 250px; width: 250px; opacity: .5;">
          <h1>404</h1>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- <div class="container">
  <div class="row d-flex vh-100 w-100 justify-content-center align-items-center">
      <div class="col-xl-8 col-12">
          <div class="card bg-color-red ">
            <h1 class="text-center">Ничего не найдено</h1>
          </div>
      </div>
  </div>
</div> -->
